{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h1>Ваша корзина</h1>

{% if cart %}
    <ul>
        {% for game_id, game_info in cart.items %}
            <li>
                <strong>{{ game_info.title }}</strong><br>
                Цена: {{ game_info.price }} руб.<br>
                <form method="post" action="{% url 'remove_from_cart' game_id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="
                        padding: 5px 10px;
                        background-color: #dc3545;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        font-size: 14px;
                        cursor: pointer;
                    ">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>Общая сумма: {{ total_price }} руб.</h3>

    <!-- Кнопка оформления заказа -->
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        ">Оформить заказ</button>
    </form>
{% else %}
    <h2>Корзина пуста(((</h2>
{% endif %}
{% endblock %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% else %}white{% endif %};">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
